Valter/work-space/HelloCXF/WebContent/wsdl/fiap31scf_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:tns="http://fiap.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://fiap.com.br/" version="1.0">
<xs:element name="WhatisTheAnswer" type="tns:WhatisTheAnswer"/>
<xs:element name="WhatisTheAnswerResponse" type="tns:WhatisTheAnswerResponse"/>
<xs:complexType name="WhatisTheAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="WhatisTheAnswerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
